:root {
    --gray-one: #1a1a1a;
    --gray-two: #3e3e3e;
    --gray-three: #232323;
    --secondary: #02bcf5;
    --text-one: #e5e5e5;
    --text-two: #a0a0a0;
}

:root {
    line-height: 1.5;

    color: var(--text-one);
    text-align: left;
    background-color: var(--gray-one);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--gray-two) transparent;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;

    min-width: 320px;
    min-height: 100vh;
}

main {
    max-width: 55rem;
    width: 80%;
    margin: 0 auto;
    flex: 1;
}

section {
    padding: 0 0 1rem;
}

h1,
h2,
p {
    margin: 1rem 0;
}

h2 {
    font-size: larger;
    font-weight: 600;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: var(--secondary);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;

    color: var(--text-two);
    text-align: center;
    margin: 2rem 0 1rem;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    color: var(--text-two);
    border-top: 1px solid var(--gray-two);
    margin: 1.75rem 0 1rem;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 55rem;
    width: 80%;
    margin: 0 auto;
    padding-top: 0.5rem;

    ul {
        margin: 0;
        display: flex;
        list-style-type: none;

        li {
            margin-right: 1rem;
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }
    1% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
