#intro {
    color: var(--secondary);
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.project {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--gray-two);
    padding: 1rem;

    .text {
        margin: 0;
        padding: 0.25rem 0 1rem;
        color: var(--text-two);
    }

    .ital {
        font-size: smaller;
    }
}

.project:hover {
    color: var(--secondary);
    border: 1px solid var(--secondary);
    transform: scale(1.05);
}
